.App {
    padding: 10px;
    background-size: cover;
    background-repeat: repeat;
}

.welcomeBoard {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.welcomeBoard .inputContainer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}